<h1 class="title">You can add your pet here!</h1>
<%= simple_form_for [@pet], html: { class: 'add-pets-form' } do |f| %>
  <%= f.input :name %>
  <%= f.input :species, :collection => %w[dog cat bird fish turtle hedgehog capybara] %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :daily_pricing %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit %>
<% end %>
