<div class="show-page">
  <div class="container-show-pet">
    <div class="card-big">
      <% if @pet.photos.attached? %>
        <% if @pet.photos.one? %>
          <% @pet.photos.each do |photo|%>

          <%=cl_image_tag photo.key, crop: :fill %>
          <%end %>
        <%else %>
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% @pet.photos.each do |photo|%>
                  <div class="carousel-item active">
                    <%=cl_image_tag photo.key, crop: :fill, class:"d-block w-100"%>
                  </div>
                <%end%>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        <% end %>
        <% else %>
          <img src=<%=asset_path('pet.jpg') %>>
        <%end%>
    <div class="card-big-infos">
      <div>
        <h2><%= @pet.name %></h2>
        <h3><i class="fa-solid fa-paw"></i> <strong><%= @pet.species.capitalize %></strong></h3>
        <p><i class="fa-solid fa-house"></i> <%= @pet.address %></p>
        <p><i class="fa-solid fa-pen"></i> <%= @pet.description %></p>
      </div>
      <h3 class="card-big-pricing"><%= @pet.daily_pricing %>€</h3>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag  current_user.photo.key, class:"card-big-user avatar-bordered" %>
      <%else %>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-big-user avatar-bordered" />
      <%end %>

    </div>
    </div>
    <div>
      <%= link_to "Back to all animals", root_path, class: "btn btn-primary my-3" %>
    </div>

  </div>
  <%= render "bookings/form", user: @user, booking: @booking %>
</div>
