<div class="pet-booking">
  <h5>Book <%= @pet.name %> now!</h5>

    <%= simple_form_for [@pet, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%# <%= f.input :status %>
      <%= f.submit "Create Booking",
               class: "btn btn-primary",
               title: user_signed_in? ? "" : "You have to Log in before making the booking!" %>
    <% end %>
</div>
