<div class="pet-booking">
  <h5>Book <%= @pet.name %> now!</h5>

    <%= simple_form_for [@pet, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%# <%= f.input :status %>
      <%= f.submit class:"btn btn-primary" %>
    <% end %>
</div>
