<h5>Add your booking</h5>
  <%= simple_form_for [@pet, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :status %>
    <%= f.submit class:"btn btn-flat" %>
  <% end %>
