<div class="container-dashboard">
  <h3>Here are your bookings</h3>
  <div class= "my-booking">
    <% if @my_bookings.empty? %>
      <h5>You didn't make any bookings yet</h5>
      <% else %>
        <% @my_bookings.each do |booking| %>
          <div class="card booking">
            <h5 class="card-header">You booked <strong><%= booking.pet.name %></strong></h5>
              <div class="card-body">
                <h6 class="card-title"><i class="fa-solid fa-calendar-days"></i> <%= booking.start_date.strftime('%d. %B %Y') %> - <%= booking.end_date.strftime('%d. %B %Y') %></h6>
              </div>
          </div>
        <% end %>
    <% end %>
  </div>
<div class= "my-pets-bookings">
  <% if @my_pets_bookings.empty? %>
    <h5>No pending requests for your pets</h5>
    <% else %>
      <% @my_pets_bookings.each do |booking| %>
        <div class="card booking">
          <h5 class="card-header">Booking from <strong><%= booking.user.first_name %></strong> for <strong><%= booking.pet.name %></strong></h5>
            <div class="card-body">
              <h6 class="card-title"><i class="fa-solid fa-calendar-days"></i> <%= booking.start_date.strftime('%d. %B %Y') %> - <%= booking.end_date.strftime('%d. %B %Y') %></h6>
              <% if booking.status == "pending" %>
                <h6 class="card-title"><strong>Status:</strong> <%= booking.status %></h6>
                <%=link_to "Accept", dashboard_path, class:"btn btn-success"%>
                <%=link_to "Decline", dashboard_path, class:"btn btn-danger"%>
              <% elsif booking.status == "accepted" %>
                <h6 class="card-title"><strong>Status:</strong> <%= booking.status%></h6>
                <%= link_to "Back to my Bookings", dashboard_path %>
              <% else booking.status == "declined" %>
                <h6 class="card-title"><strong>Status:</strong> <%= booking.status %></h6>
              <% end %>
            </div>
        </div>
      <% end %>
  <% end %>
</div>
<%= link_to "Back to all pets", root_path, class:"btn btn-primary" %>
</div>
